<div ng-controller="LaunchInstanceConfigurationController as config">
  <p class="step-description" translate>
    You can customize your instance after it has launched using the options available here.
    "Customization Script" is analogous to "User Data" in other systems.
  </p>

  <label>Example: </label>
  <div>
      <span style='white-space:pre;'>#cloud-config</span><br>
      <span style='white-space:pre;'>ssh_pwauth: True</span><br>
      <span style='white-space:pre;'>disable_root: False</span><br>
      <span style='white-space:pre;'>chpasswd:</span><br>
      <span style='white-space:pre;'>  list: |</span><br>
      <span style='white-space:pre;'>    root:capitek</span><br>
      <span style='white-space:pre;'>  expire: False</span><br>
      <span style='white-space:pre;'>runcmd:</span><br>
      <span style='white-space:pre;'>  - sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin yes/' /etc/ssh/sshd_config</span><br>
      <span style='white-space:pre;'>  - sed -i -e 's/\"set background=dark/set background=dark/g' /etc/vim/vimrc</span><br>
      <span style='white-space:pre;'>  - echo "capitek" | passwd --stdin root</span><br>
      <span style='white-space:pre;'>  - echo "capitek" | passwd --stdin centos</span><br>
      <span style='white-space:pre;'>  - service ssh restart</span><br>
      <span style='white-space:pre;'>  - service sshd restart</span><br>
  </div>

  <load-edit config="config"
             user-input="model.newInstanceSpec"
             key="user_data">
  </load-edit>

  <div hz-if-nova-extensions='["DiskConfig"]'>
    <div class="form-group">
      <label for="disk-partition" translate>
        Disk Partition
      </label>
      <select class="form-control"
              id="disk-partition"
              ng-model="model.newInstanceSpec.disk_config"
              ng-options="option.value as option.text for option in config.diskConfigOptions">
      </select>
    </div>
  </div>

  <div hz-if-nova-extensions='["ConfigDrive"]'>
    <div class="form-group">
      <div class="themable-checkbox">
        <input type="checkbox"
               id="config-drive"
               ng-model="model.newInstanceSpec.config_drive">
        <label for="config-drive">
          <span translate>Configuration Drive</span>
        </label>
      </div>
    </div>
  </div>
</div>
